<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django Boys Blog!</title>
</head>
<body>
        <div>
            <h1><a href="https://djangogirls.org">Django Boys Blog</a></h1>
        </div>

        <div>
            <p>published: 19 марта 2021 года, 15:43</p>
            <h2><a href="">My first post</a></h2>
            <p>Тут я полагаю будет мой первый пост</p>
        </div>

        <div>
            <p>Опубликовано: 19 марта 2021 года, 15:45</p>
            <h2><a href="">My second post</a></h2>
            <p>А тут второй)))))))</p>
        </div>
</body>
</html>